/tmp
/code
.vscode
.github
.env
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
Dockerfile
hook.sh
llvm.txt
tsconfig.json
*.tsbuildinfo
!host
/test
.dockerignore
Dockerfile*
.gitattributes
/test/hold
