<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="earth.pcg.prime">
  <application android:label="prime">
    <activity
        android:name=".stage"
        android:label="prime">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
